*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  overflow-y: auto;
}

/* UTILITY */

.debug{   
  border: solid 2px red;
  background-color: aquamarine;
}

.d-flex{
  display: flex;
}

.p-fixed{
  position: fixed;
}

.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
  gap: 5px;
}

/* HEADER */

header{
  padding-bottom: 5px;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 999;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  color: white;

}

.bottoni{
  margin-left: 20px;
}

.bottoni button{
  color: white;
  background-color: grey;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 5px;
  border: none;
  margin: 10px 10px;
}


/* MAIN */
main{
  height: calc(100vh - 160px) ;
  flex-direction:row;
  /* justify-content: space-between; */
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
  
  
}

.card{
  position: relative;
  width: calc(100% / 7 - 5px);
  height: calc(100% / 5 - 10px);
  min-width: 230px;
  flex-wrap: wrap;
}

.card img{
  width: 100%;
  object-fit: contain;
}
.badge{
  position: absolute;
  bottom: 5px;
  left: 0;
  color: white;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 5px;
}







/* FOOTER */

footer{
  
  padding-top: 5px;
  height: 75px;
  z-index: 999;
  justify-content: space-between;
  flex-direction: row;
}



/* .menu{
  
  width: calc(100% / 3);
  height: 100%;
  flex-direction: row;
} */

.left ul li{
  text-decoration: none;
  list-style: none;
  margin: 15px 15px 0 15px;
  font-size: 40px;
}

.left ul li a{
  color: white;
}

.left ul li:nth-child(2){
  font-size: 15px;
}
.left ul li:nth-child(4){
  font-size: 15px;
  
}

.left ul{
  justify-content: space-between;
}

.center ul li{
  text-decoration: none;
  list-style: none;
  margin: 15px 15px 0 15px;
  font-size: 40px;
  
}

.center ul li:nth-child(5){
  font-size: 15px;
}




.center ul{
  justify-content: space-between;
  
}
.center ul a{
  text-align: center;
  text-decoration: none;
  color: white;
}

.right ul li{
  text-decoration: none;
  list-style: none;
  margin: 15px 15px 0 15px;
  font-size: 40px;
  
}


  

.right a{
  text-align: center;
  text-decoration: none;
  color: red;
  font-size: 20px;
  line-height: 75px;
}


